h1  {
  font-size: 1.5em;
  text-align: center;
}

footer  {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  display: inline-block;
  list-style-type: none;
  .posts {
    text-align: center;
  }
  .bottom-images {
      display: inline-flex;
      margin: 0 188px;
  }
  .bottom-text ul li{
    list-style-type: none;
    display: inline-flex;
    margin: 0 225px;
  }
  .footer-text-left {
    list-style-type: none;
}
  .footer-text-right {
    list-style-type: none;
}
}
