header {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    width: 100%;
    background-image: url(http://weknowyourdreamz.com/images/wave/wave-02.jpg);
    height: 450px;
}

header .title {
    clear: both;
}

header .title h1 {
    font-size: 7em;
    margin: 1.3em 0;
    text-align: center;
    color: #FFF;
}

header .title h3 {
    font-size: 1.5em;
    margin: -6.33em 0;
    text-align: center;
    color: #FFF;
}

header .header-left {
    float: left;
    font-family: 'Oxygen',sans-serif;
    color: #FFF;
}

header .header-left ul {
    list-style-type: none;
    float: left;
}

header .header-left ul li {
    display: inline-block;
    margin: -27px 0;
}

header .header-left ul img {
    border-radius: 50%;
    margin: -19px 2px;
}

header .header-right {
    list-style-type: none;
    float: right;
    font-family: 'Oxygen',sans-serif;
    color: #FFF;
}

header .header-right ul {
    float: right;
}

header .header-right ul li {
    display: inline-block;
    padding-right: 20px;
}

header .header-right ul img {
    border-style: none;
    padding-left: 0;
}

section {
    margin: 0 135px;
    padding: 0;
    display: inline-block;
    width: 35%;
    font-family: 'Rubik',sans-serif;
}

section .main-content h1 {
    font-size: 3em;
    margin: .67em 50px;
    padding-top: 11px;
    text-align: center;
    color: #031C63;
}

section .smiley ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

section .smiley ul li img {
    padding: 6px;
    margin: -15px 0;
}

section .smiley ul li h5#anne {
    margin: 0 13px;
}

section .smiley ul li h5#on {
    margin: 0 13px;
}

section .smiley ul li h5#monday {
    margin: 0 13px;
}

section .woah h3 {
    border-left: gray solid 1px;
    text-align: center;
    margin: -7px auto;
    padding: 16px;
    font-size: 1.5em;
    font-weight: lighter;
}

section .sharing ul {
    list-style-type: none;
    display: flex;
}

section .sharing ul li {
    margin: 0 56px;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin-top: 79px;
    font-family: 'Rubik',sans-serif;
}

aside #bio-image {
    margin-left: 110px;
    height: 68px;
}

aside h4 {
    text-align: center;
}

aside #social-media {
    list-style-type: none;
    display: flex;
}

aside li {
    margin: 0 auto;
}

aside ul#advertisement {
    float: right;
    margin: 0 0 72px;
    list-style-type: none;
}

aside h6 {
    float: right;
    margin: 0;
    font-weight: lighter;
}

aside #side-header h5 {
    margin: 0 auto;
    font-size: 1em;
}

h1 {
    font-size: 1.8em;
    text-align: center;
}

footer {
    font-family: 'Rubik',sans-serif;
    width: 100%;
    display: inline-block;
    list-style-type: none;
    margin: 0 13px;
    background-color: #134299;
    color: #FFF;
/*.posts {
    text-align: center;
  }*/
}

footer .bottom-images {
    display: inline-flex;
    margin: 0 230px;
}

footer .bottom-text ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0 225px;
}

footer .bottom-text ul li {
    width: 180px;
    margin: 0 9px 0 -9px;
}

footer .footer-text-left ul {
    list-style-type: none;
    display: inline-flex;
    float: left;
}

footer .footer-text-left ul li {
    margin: 0 14px -16px 0;
}

footer .footer-text-left ul li img {
    margin: -45px 0 0;
}

footer .footer-text-right ul {
    list-style-type: none;
    display: flex;
    float: right;
}

footer .footer-text-right ul li {
    margin: 0 7px 0 0;
    border-right: 2px;
}
